.container-ui{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;
    width: auto;
}

.stats{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    max-width: 100%;
}

#playersC{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 200px;
}

#computerC{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 200px;
}

#result{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 200px;
}


.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 50px;
    max-width: 100%;
}